<section>
    <div class="card settings-card text-center">
        <div class="card-body">
            <h1 class="card-title ">Welcome to Marvel Heroes !</h1>
            <p class="card-text settings-p">
                Do you like Marvel ? Here we have options of lists that we prepared just for you !
            </p>
            <a href="#" class="btn btn-lg btn-outline-danger" [routerLink]="['/heroes/list']" routerLinkActive="router-link-active"  >Comics Series</a>
            <a href="#" class="btn btn-lg btn-outline-danger" [routerLink]="['/heroes/list']" routerLinkActive="router-link-active"  >Heroes</a>
        </div>
    </div>
</section>
